---
title: Contact Information
metaTitle: Contact Me
description: Chia-Sheng's contact information
---

Just in case you miss the contact information in the CV tab...
<br/><br/>

<head> <script src="https://kit.fontawesome.com/662a0b53d5.js" crossorigin="anonymous"></script> </head>

<div id="webaddress">
<i class="far fa-envelope"></i> <a href="mailto:chiasheng@gapp.nthu.edu.tw">chiasheng@gapp.nthu.edu.tw</a>
<br/><br/>
<i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/chiasheng/">chiasheng</a>
<br/><br/>
<i class="fab fa-github"></i> <a href="http://github.com/cshsu">cshsu</a>
</div>
