---
pageType: section
title: Photos
metaTitle: Photo Gallery
description: Photos to share with you.
---

<p class="lead">{{description}}</p>
<div class="subgrid">
    {% set items = collections.photos | reverse %}
    {% for item in items %} 
    <div class="grid-third@l tile">
        
    <a href="{{ item.url }}">{% gridImage item.data.image, item.data.alt %}</a>
        <div class="tile_inner item_detail">
            <a href="{{ item.url }}" class="tile_link"><span class="tile_desc text--smaller">{{ item.data.title }} {{ item.data.year }} &ndash; {{ item.data.medium }}.</span></a>
        </div>
    </div>
    {% endfor %}
</div> 